.product-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.real-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



button{
    background-color: green;
    color: #fff;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}